.places {
  width: 987px;
  height: 3367px;
}

@media screen and (min-width: 544px) and (max-width: 1023px) {
  .places {
    width: 720px;
    height: 2912px;
  }
}

@media screen and (max-width: 543px) {
  .places {
    width: 320px;
  }
}